.amazon-slider-wrapper-frontend {
    padding-bottom: 48px;

    .amazon-tiny-slider-container {
        .amazon-slide-link {
            text-decoration: none;
        }

        .amazon-slide-image-container {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background-color: transparent;
                mix-blend-mode: color;
                border-radius: 5px;
            }

            .amazon-slide-image {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(0.7);
            }
        }

        .amazon-slide-content {
            margin-top: 10px;

            .amazon-slide-category {
                font-size: $font-size--x-small;
                color: $color--primary-pure;
                font-family: $font-family--secondary;
                text-transform: uppercase;
                padding: 6px 9px;
                border-radius: 5px;

            }

            .amazon-slide-title {
                font-size: 30px;
                font-family: $font-family--heading;
                color: $color--primary-pure;
                font-weight: 700;
                text-transform: uppercase;
                margin: 10px 0;
            }

            .amazon-slide-author {
                font-size: $font-size--x-small;
                font-family: $font-family--secondary;
                color: $color--primary-light;
                text-transform: uppercase;
            }

        }

        .amazon-slide-item {
            padding-right: 10px !important;

            &.category-slug--opiniao,
            &.category-slug--opinion {
                .amazon-slide-content .amazon-slide-category {
                    background-color: $color--high-dark;
                }
                .amazon-slide-image-container::after {
                    background-color: $color--primary-light;
                }
            }

            &.category-slug--artigo,
            &.category-slug--article {
                .amazon-slide-content .amazon-slide-category {
                    background-color: $color--warning-light;
                }
                .amazon-slide-image-container::after {
                    background-color: $color--warning-dark;
                }
            }

            &.category-slug--cronica,
            &.category-slug--chronicle {
                .amazon-slide-content .amazon-slide-category {
                    background-color: $color--helper-pure;
                }
                .amazon-slide-image-container::after {
                    background-color: $color--helper-dark;
                }
            }
        }

    }
}