.blog {
    background-color: $color--high-pure;

    .container.archive {
        max-width: unset;
        margin-inline: unset;
        padding-inline: 14px;
    }
}

.archive {
    .post-card {
        &.category-artigo,
        &.category-article,
        &.category-articulo {
            --tag-color: #{$color--warning-light};
            --overlay-color: #{$color--warning-dark};
        }

        &.category-cronica,
        &.category-chronicle,
        &.category-cronica-es {
            --tag-color: #{$color--helper-pure};
            --overlay-color: #{$color--helper-dark};
        }

        &.category-photoshoot,
        &.category-photoessay,
        &.category-fotoensayo,
        &.category-fotoensaio,
        &.category-fotoensaio-es {
            --tag-color: #{$color--high-dark};
            --overlay-color: #{$color--primary-light};
        }

        &.category-opinion,
        &.category-opiniao,
        &.category-opinion-es {
            --tag-color: #{$color--high-dark};
            --overlay-color: #{$color--secondary-pure};
        }

        &__image {
            position: relative;

            a {
                display: inline-block;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    background-color: var(--overlay-color, transparent);
                    mix-blend-mode: hard-light;
                    pointer-events: none;
                }
            }
        }

        &__category {
            padding: unset !important;
            .tag {
                font-family: $font-family--secondary;
                color: $color--secondary-light;
                letter-spacing: -0.12px;
                line-height: 100%;
                font-weight: 500;
                padding: 6px 14px;

                background-color: var(--tag-color, $color--high-pure);
            }
        }
    }

    .post-grid-latest-posts {
        padding-inline: 14px;
        padding-top: 8rem;
        padding-bottom: 33px;
        margin-bottom: 17px;

        @include mobile {
            padding-bottom: 5px;
            padding-top: 6rem;
            margin-bottom: 30px;
        }

        &__background {
            background-color: $color--secondary-light;
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }

        .post-card {
            &--horizontal {
                gap: 71px;

                @include mobile {
                    grid-template-columns: 1fr;
                    gap: 10px;
                }
            }

            &__image {
                .wp-post-image,
                img {
                    border-radius: 5px;
                    height: auto;
                    width: 100%;
                    min-height: 712px;

                    @include mobile {
                        min-height: 236px;
                    }
                }
            }

            &__content {
                max-width: 680px;
                gap: 17px;

                @include mobile {
                    margin-top: unset !important;
                    gap: 10px;
                }
            }

            &__title {
                font-family: $font-family--heading;
                font-size: 50px;
                font-weight: $font-weight--bold;
                color: $color--high-pure;
                line-height: 100%;
                text-transform: uppercase;

                @include mobile {
                    font-size: 20px;
                    line-height: 20px;
                    letter-spacing: -0.4px;
                }
            }

            &__excerpt {
                font-family: $font-family--primary;
                font-size: 16px;
                font-weight: $font-weight--regular;
                line-height: 125%;
                letter-spacing: -0.16px;
                color: $color--high-dark;
            }

            &__author {
                font-family: $font-family--secondary;
                font-size: 12px;
                font-weight: 500;
                line-height: 100%;
                letter-spacing: -0.12px;
                text-transform: uppercase;
                color: $color--high-dark;
                opacity: 0.5;
            }
        }
    }

    .posts-grid {
        &__content {
            gap: 10px;
        }

    }

    .post-grid-filters {
        margin-bottom: $margin--x-large;

        .post-card {
            margin-bottom: 33px;

            @include mobile {
                margin-bottom: 10px;
            }

            &__content {
                gap: 10px;

                @include mobile {
                    margin-top: 5px;
                }
            }

            &__image {
                .wp-post-image,
                img {
                    border-radius: 5px;
                    height: auto;
                    width: 100%;
                    min-height: 534px;

                    @include mobile {
                        min-height: unset;
                        height: auto !important;
                        object-fit: initial;
                        aspect-ratio: auto;
                    }
                }
            }

            &__title {
                font-family: $font-family--heading;
                font-size: 30px;
                font-weight: $font-weight--bold;
                color: $color--primary-pure;
                line-height: 100%;
                letter-spacing: -0.3px;
                text-transform: uppercase;

                @include mobile {
                    font-size: 20px;
                    line-height: 20px;
                    letter-spacing: -0.4px;
                }
            }

            &__author {
                font-family: $font-family--secondary;
                font-size: 12px;
                font-weight: 500;
                line-height: 100%;
                letter-spacing: -0.12px;
                text-transform: uppercase;
                color: $color--primary-pure;
                opacity: 0.5;
            }
        }
    }


    .archive-header {
        &__infos * {
            margin-bottom: 0;
        }
    }
}
