.banner-block {
    padding: unset !important;

    @include mobile {
        border-bottom: 2px solid $color--hight-light !important;
    }

    .wp-block-cover__inner-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 20px !important;
    }

    .wp-block-cover__image-background {
        padding: 20px !important;
        background-color: $color--high-pure;
    }

    &__texts {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 !important;
        margin-top: 20px !important;

        @include mobile {
            flex-direction: column-reverse;
            flex-shrink: 0;
        }

        .amazon-text {
            img {
                width: 100% !important;
            }

            @media (max-width: 768px) {
                height: 268px !important;
            }

            @media (max-width: 470px) {
                height: 210px!important;
            }

            @media (max-width: 400px) {
                height: 170px !important;

            }
        }

        p {
            font-family: "Averia Serif Libre" !important;
            font-size: 36px;
            font-weight: 700;
            line-height: 140%;
            max-width: 369px;
            width: 100%;

            @include mobile {
                font-size: $font-size--large;
                text-align: center;
                width: 210px;
            }
        }
    }

    &__images {
        display: none !important;

        @include mobile {
            display: flex !important;
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
            justify-content: center;
            align-items: flex-end;
            flex-grow: 1;

            img {
                position: relative;
                top: 7px;

            }
        }
    }
}
