.main-header-lateral {
    position: relative;
    z-index: 10;
    transition: $transition--default;
    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-height: size(80);
        padding: $padding--medium;
        @include mobile{
            padding-inline: 0;
        }
    }

    &__toggle-menu {
        display: none;
        width: 1.875rem;
        height: 1.875rem;

        .hamburger{
            color: $color--high-light;
            @include mobile{
                color:  #181818;
            }
        }

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color--high-pure;
            border-radius: 60px;
        }
    }

    &__toggle-search{
        img{
            filter: invert(100%) hue-rotate(230deg) brightness(150%);
        }
    }

    &__logo {
        img {
            height: 1.875rem;
            width: auto;
            filter: invert(100%) hue-rotate(230deg) brightness(150%);

            @include mobile{
                max-width: 9.4rem;
            }
        }
        @include mobile{
            width: 70%;
        }
    }

    &__search {
        display: flex;
        gap: $gap--medium;
        position: relative;

        @include mobile{
            display: none;
        }
        form {
            position: absolute;
            right: 0;
            top: 0;
        }
        input[type="submit"] {
            @include sr-only;
        }
        input[type="text"] {
            transition: $transition--default;
            background-color: transparent;
            outline-style: solid;
            outline-color: $color--high-light;
            outline-width: 1px;
            border: none;
            border-radius: 4rem;
            width: 2rem;
            height: 2rem;
        }
    }

    &__desktop-content {
        display: flex;
        justify-content: center;

        @include tablet {
            display: none;
        }
    }

    &__helper-content{
        display: flex;
        gap: $gap--medium;
        min-width: 15%;
        justify-content: flex-end;

        @media (max-width: 1441px) {
            width: 19%;
        }
    }

    &__menu-desktop {

        ul,
        li {
            margin: 0;
            padding: 0;
        }

        &>ul {
            align-items: center;
            display: flex;
            gap: $gap--medium;
        }

        li {
            list-style: none;
            font-size: $font-size--small;
            color: $color--high-pure;
            text-transform: uppercase;
            font-family: $font-family--secondary;
        }

        .sub-menu {
            display: none;
            box-shadow: $box-shadow--default;
            min-width: 10rem;
            padding: $padding--medium;
            position: absolute;
            z-index: 2;
        }

        .menu-item-has-children {
            display: inline-block;
            position: relative;

            iconify-icon {
                margin-inline-start: $gap--small;
            }

            &:hover .sub-menu {
                display: block;
            }
        }
    }

    &__mobile-content {
        transition: $transition--default;
        display: none;
        min-height: 29rem;
        form{
            border-top: solid 1px $color--high-light;
            border-bottom: solid 1px $color--high-light;
            margin-inline: $margin--medium;
            padding: $padding--x-small 0 $padding--medium;
            text-transform: uppercase;
            opacity: 0.5;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: $gap--x-small;

            label{
                color: $color--high-pure;
                font-size: $font-size--x-small;
                font-family: $font-family--secondary;
                width: 100%;
                display: block;
            }
            input[type="text"] {
                transition: $transition--default;
                background-color: transparent;
                border: none;
                color: $color--high-pure;

                &::placeholder{
                    text-transform: uppercase;
                    font-family: $font-family--heading;
                    opacity: 1;
                    color: $color--high-pure;
                }
                &:focus-visible{
                    outline: none;
                }
            }
            button{
                width: 2.1875rem;
                height: 2.1875rem;
                background-color: transparent;
                border: solid 1px $color--high-light;
                border-radius: 4.375rem;
                display: flex;
                justify-content: center;
                align-items: center ;
            }
        }
        .social-menu{
            padding: $padding--x-small 0 $padding--medium;
            gap: $gap--medium;
            &__icon{
                color: $color--high-light;
            }
        }
        .follow-us{
            display: block;
            width: 100%;
            font-family: $font-family--secondary;
            text-transform: uppercase;
            opacity: 0.5;
            color: $color--high-pure;
            border-top: solid 1px $color--high-pure;
            padding: $padding--x-small 0;
            font-size: $font-size--x-small;
        }
    }

    &__mobile-social{
        padding-inline: $padding--medium;
    }

    &__menu-mobile{
        padding: $padding--medium 0;
        ul, li{
            list-style: none;
            color: $color--high-pure;
            font-family: $font-family--secondary;
            text-transform: uppercase;
            transition: $transition--default;
        }
        >ul{
            padding-inline-start: $padding--medium;
        }
        .sub-menu{
            display: none;
            padding-inline-start: 0;
        }
        .menu-item-has-children{
            .submenu-toggle{
                padding-inline: $padding--x-small;
                transition: $transition--default;
            }
            &.open{
                .submenu-toggle{
                    transform: rotateX(180deg);
                }
                .sub-menu{
                    display: block;
                }
            }
        }


    }

    &--menu-open {
        background-color: $color--primary-medium !important;
        min-height: 34.375rem;
        .main-header-lateral__mobile-content {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }
        .main-header-lateral__toggle-menu{
            background-color: $color--high-pure;
            border-radius: 3.75rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.submenu-open{
            .menu{
                >.menu-item{
                    &:not(.open){
                        opacity: 0.5;
                    }
                }
            }
        }
        .wpml-language-switcher.open{
            .wpml-ls-item a{
                background-color: $color--primary-medium !important;
            }
        }

    }

    &--search-open {
        .main-header-lateral__search form {
            input[type="text"]{
                width: 9.5rem;
            }
        }

        .main-header-lateral__logo {

            @include tablet {
                display: none;
            }
        }
    }

    &__language-selector{
        .wpml-language-switcher{
            max-width: 3.75rem;
            @include mobile{
                max-width: 3.125rem;
            }
            .wpml-ls{
                &-item-toggle{
                    border-radius: .5rem;
                    background-color: transparent;
                }
                &-item{
                    >a{
                        background-color: transparent !important;
                        color: $color--high-pure;
                        font-family: $font-family--secondary;
                        :hover{
                            color: $color--high-pure !important;
                        }
                        @include mobile{
                            font-size: $font-size--x-small;
                            &::after{
                                right: 5px;
                            }
                        }
                    }
                    :hover{
                        background-color: transparent !important;
                    }
                }
                &-sub-menu{
                    a{
                        background-color: transparent !important;
                    }
                    @include mobile{
                        visibility: hidden !important;
                    }
                }
            }

            &.open{
                @include tablet{
                    .wpml-ls-sub-menu{
                        visibility: visible !important;
                    }
                }
            }
        }
    }

    // Main-header template-part/shortcode style
    &-secondary{
        background-color: $color--high-pure;
        position: sticky !important;
        z-index: 2;
        box-shadow: $box-shadow--light;
        &__menu-desktop{
            li{
                color: $color--primary-pure !important;
            }
        }

        &__language-selector{
            .wpml-language-switcher{
                .wpml-ls{
                    &-item-toggle{
                        transition: $transition--default;
                        border-radius: .5rem;
                        background-color: transparent;
                        border-color: $color--primary-pure;
                    }
                    &-item{
                        a{
                            transition:  $transition--default;
                            background-color: $color--high-pure !important;
                            color: $color--primary-pure;
                            :hover{
                                color: $color--primary-pure !important;
                            }
                        }
                        :hover{
                            background-color: transparent !important;
                        }
                    }
                    &-sub-menu{
                        a{
                            background-color: $color--high-pure !important;
                        }
                    }
                }
            }
        }

        &__logo{
            transition: $transition--default;
            img{
                filter: none;
            }
        }

        &__search{
            input[type="text"]{
                outline-color: $color--primary-pure;
            }
        }

        &__toggle-menu {
            .hamburger{
                color: $color--primary-pure;
                @include mobile{
                    color: $color--high-pure;
                }
            }

            @include mobile{
                background-color: $color--primary-pure;
                border-radius: 60px;
            }
        }

        &__toggle-search{
            img{
                filter: none;
            }
        }

        .sub-menu{
            background-color: $color--high-pure;
            @include tablet{
                background-color: transparent;
            }
        }

        &.main-header-lateral--menu-open{
            .main-header-lateral__logo{
                img{
                    filter: invert(100%) hue-rotate(230deg) brightness(150%);
                }
            }

            .wpml-language-switcher{
                .wpml-ls{
                    &-item-toggle{
                        border-color: $color--high-pure;
                    }
                    &-item{
                        a{
                            background-color: $color--primary-medium !important;
                            color: $color--high-pure;
                        }
                    }
                }
            }
        }
    }
}

.single-policy-paper{
    .main-header-lateral{
        &__logo{
            img{
                filter: none;
            }
        }
        &__menu-desktop{
            li{
                color: $color--primary-pure;
            }
        }
        &__search{
            input[type="text"] {
                outline-color: $color--primary-pure;
            }
        }
        &__toggle-menu{
            background-color: $color--primary-pure;
            border-radius: 60px;
        }
        &__toggle-search{
            img{
                filter: none;
            }
       }
       &__language-selector{
            .wpml-language-switcher{
                .wpml-ls{
                    &-item{
                        >a{
                            color: $color--primary-pure;
                            border-color: $color--primary-pure;
                            :hover{
                                color: $color--primary-pure !important;
                            }
                        }

                    }
                }

                &.open{
                    @include tablet{
                        .wpml-ls-sub-menu{
                            visibility: visible !important;
                        }
                    }
                }
            }

        }
        &--menu-open{
            .main-header-lateral__logo img, .main-header-lateral__toggle-search{
                filter: invert(65%) hue-rotate(195deg) brightness(150%);
            }
            .main-header-lateral__language-selector{
                .wpml-language-switcher .wpml-ls-item>a{
                    color: $color--high-pure;
                    border-color: $color--high-pure;
                    :hover{
                        color: $color--high-pure !important;
                    }
                }
            }
            .main-header-lateral__toggle-menu{
                background-color: $color--high-pure;
            }
        }

    }
}