.page-template-template-page-about{
    background-color: $color--high-pure;
    .about-us{
        max-width: $grid--x-wide;
    }
    .post-content{
        max-width: 100%;
        .alignfull, .alignwide{
            width: unset;
            margin-inline-start: 0;
        }
        .wp-block-group{
            margin-inline: $margin--medium;
            padding-bottom: $padding--xx-large;
            border-bottom: solid 1px #d0cbc0;

            @include mobile{
                padding-bottom: $padding--large;
            }
        }
        .wp-block-group#impact{
            border-bottom: none;
        }
        .wp-block-heading:not(.has-text-color), p:not(.has-text-color){
            color: $color--primary-pure;
        }
        .wp-block-heading{
            @include mobile{
                font-size: 20px;
            }
        }
        .wp-block-columns{
            @include mobile{
                gap: $gap--small;
            }
        }
        .wp-block-cover:first-of-type{
            position: relative;
            z-index: 5;
            .wp-block-heading{
                @include mobile{
                    font-size: 25px !important;
                }
            }
            .wp-block-columns{
                .wp-block-column{
                    .wp-block-image{
                        img{
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
        .section-name{
            @include mobile{
                font-size: 10px !important;
            }
        }
        .wp-block-column.card{
            border: solid 1px  #d0cbc0;
            aspect-ratio: 1 / 1;
            align-items: center;
            justify-content: center;
            display: flex;
            padding: $padding--small;
        }
        .wp-block-hacklabr-card{
            border: solid 1px  #d0cbc0;
            min-height: 380px;
            max-width: 332px;
            aspect-ratio: 1 / 1;
            padding: $padding--medium 0;

            &-header{
                padding: 0 $padding--medium;
            }

            &-body{
                display: flex;
                flex-flow: column;
                justify-content: space-around;
                align-items: center;
                gap: 0;
                padding: 0 $padding--small;
                height: 95%;

                >:nth-child(4){
                    // padding-top: calc($padding--x-large * 2);
                    margin-bottom: 0;
                }
            }
            h5{
                border: solid 1px #d0cbc0;
                border-radius: 5px;
                padding: $padding--small;
                max-width: fit-content;
                margin-inline: auto;
                font-size: $font-size--x-small;
            }
            h4{
                a{
                    text-decoration: none;
                }
            }
            p{
                font-size: $font-size--x-small;
                text-transform: uppercase;
                font-family: $font-family--secondary;
                a{
                    text-decoration: none;
                }
            }
        }
        .authors-block{
            .wp-block-cover__inner-container{
                >.wp-block-columns{
                    @include mobile{
                        display: grid !important;
                        grid-template-columns: 1fr 1fr !important;
                        row-gap: $gap--medium !important;
                    }
                }
            }
        }
        .media-allies{
            gap: $gap--small;
            >.wp-block-column{
                >.wp-block-columns{
                    gap: $gap--small;
                }
            }
        }
        .see-bio{
            a{
                text-decoration: none;
            }
        }

        @include mobile{
            .is-center-mobile{
                text-align: center !important;
            }
            .is-left-mobile{
                text-align: left !important;
            }
            .is-right-mobile{
                text-align: right !important;
            }
        }
    }
}