// Novo bloco dinâmico com slider mobile
#policy-papers{
    .wp-block-cover__inner-container{
        >.wp-block-heading{
            padding-left: 1rem;
        }
        >.latest-horizontal-posts-block{
            @include mobile{
                margin-left: 0 !important;
            }
            >.container{
                @include mobile{
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }
            }
        }
    }
}
.latest-horizontal-posts-block{
    max-width: 90rem!important;
    @include mobile{
        padding-inline: 0 !important;
        width: 100% !important;
    }
    >.container{
        max-width: 100% !important;
    }
    &__content{
        display: none !important;
        @include mobile{
            display: flex !important;
            position: absolute;
            top: 43%;
            width: 100% !important;
            z-index: 99;
        }
    }
    &__slides{
        width: 100% !important;
        padding-left: 0 !important;
        flex-basis: 100% !important;
        &::before, &::after{
            display: none !important;
        }

    }
    &__arrows{
        @include mobile{
            width: 100% !important;
        }
    }
    .slick-arrow{
        background-color: $color--primary-pure !important;
        opacity: 1 !important;
    }
    .slick-slide{
        border-right: solid 1px #d5d0c2;
        margin-inline: 0 !important;
        &:last-of-type{
            border: none;
        }
    }

    .post{
        &-thumbnail{
            height: 323px !important;
            width: auto;
            max-width: unset !important;
            aspect-ratio: 3 / 4;
            margin-top: 44px;
            img{
                border-radius: 0 !important;
            }
            @include mobile{
                height: 260px !important;
            }
        }
        &-content{
            margin-inline: auto;
            width: 75% !important;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
        &-title{
            font-family: $font-family--heading;
            color: $color--primary-pure;
            text-align: center;
            font-size: $font-size--large;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -0.4px;
            text-transform: uppercase;
        }
        &-excerpt{
            color: $color--primary-pure;
            text-align: center;
            font-family: $font-family--primary;
            font-size: $font-size--medium;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: -0.16px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            @include mobile{
                -webkit-line-clamp: 5;
            }
        }
        &-meta{
            color: $color--primary-pure;
            opacity: 0.5;
            font-family: $font-family--secondary;
            font-size: $font-size--small;
            font-style: normal;
            font-weight: 500;
            line-height: 1;
            letter-spacing: -0.7px;
            text-transform: uppercase;
            position: absolute;
            top: 1rem;
            @include mobile{
                opacity: 1;
            }
        }
    }
}

// Estilo do bloco estático
.policy-papers {
    padding-bottom: 42px !important;

    &__caption {
        font-family: $font-family--heading;
        font-size: $font-size--large;
    }

    &__text {
        font-family: $font-family--primary;
        font-size: $font-size--medium;
    }

    &__date {
        color: $color--primary-pure !important;
        font-family: $font-family--secondary;
        font-size: $font-size--small;

        @include mobile {
            font-size: $font-size--x-small;
        }
    }


    .wp-block-cover {
        &__background {
            background-color: $color--high-pure !important;
        }
    }

    .wp-block-cover__inner-container{
        >.wp-block-group{
            padding-bottom: 88px;
        }
    }

    .wp-block-image {
        margin-top: 44px !important;

        @include mobile {
            margin-top: 21px !important;
        }
    }

    .wp-block-heading {
        padding: 0 20px;
        font-size: $font-size--large;
        font-family: $font-family--secondary;
        font-weight: 400;

        @include mobile {
            font-size: $font-size--x-small;
            margin-bottom: 22px;
        }
    }

    .wp-block-post-excerpt{
        margin-block-start: 15px !important;
    }

    .wp-block-heading,
    p {
        color: $color--primary-pure;
        line-height: 1.25;
    }

    .wp-block-group.is-vertical {
        max-width: 355px;
        padding: 0 15px;
    }

    a {
        text-decoration: none !important;
        letter-spacing: -0.4px;
        line-height: 1;
    }
}
