@font-face {
    font-family: 'Bull 5 Mono';
    font-display: swap;
    font-weight: 500;
    src: url('#{$path--assets}/fonts/Bull-5-Mono-Medium.woff') format(woff);
}

@font-face {
    font-family: 'Bull 5';
    font-display: swap;
    font-weight: 400;
    font-style: italic;
    src: url('#{$path--assets}/fonts/Bull-5-Regular-Italic.woff') format(woff);
}

@font-face {
    font-family: 'Bull 5';
    font-display: swap;
    font-weight: 400;
    src: url('#{$path--assets}/fonts/Bull-5-Regular.woff') format(woff);
}

@font-face {
    font-family: 'Bull 5 Typewriter';
    font-display: swap;
    font-weight: 400;
    src: url('#{$path--assets}/fonts/Bull-5-Typewriter-Regular.woff') format(woff);
}

@font-face {
    font-family: 'Hershey';
    font-display: swap;
    font-weight: 400;
    font-style: italic;
    src: url('#{$path--assets}/fonts/Hershey-AU-Italic.woff') format(woff);
}

@font-face {
    font-family: 'Hershey Sans';
    font-display: swap;
    font-weight: 400;
    src: url('#{$path--assets}/fonts/Hershey-AU-Sans.woff') format(woff);
}

@font-face {
    font-family: 'Hershey Serif';
    font-display: swap;
    font-weight: 400;
    src: url('#{$path--assets}/fonts/Hershey-AU-Serif.woff') format(woff);
}

@font-face {
    font-family: 'AV Hershey Complex';
    font-display: swap;
    font-weight: 300;
    src: url('#{$path--assets}/fonts/AVHersheyComplexLight.ttf') format(truetype);
}

@font-face {
    font-family: 'AV Hershey Complex';
    font-display: swap;
    font-weight: 500;
    src: url('#{$path--assets}/fonts/AVHersheyComplexMedium.ttf') format(truetype);
}

@font-face {
    font-family: 'AV Hershey Complex';
    font-display: swap;
    font-weight: 600;
    src: url('#{$path--assets}/fonts/AVHersheyComplexHeavy.ttf') format(truetype);
}
