@font-face {
    font-family: 'Bull 5';
    font-display: swap;
    font-weight: 500;
    src: url('#{$path--assets}/fonts/Bull-5-Mono-Medium.woff') format(truetype);
}

@font-face {
    font-family: 'Bull 5';
    font-display: swap;
    font-weight: 400;
    font-style: italic;
    src: url('#{$path--assets}/fonts/Bull-5-Regular-Italic.woff') format(truetype);
}

@font-face {
    font-family: 'Bull 5';
    font-display: swap;
    font-weight: 400;
    src: url('#{$path--assets}/fonts/Bull-5-Regular.woff') format(truetype);
}

@font-face {
    font-family: 'Bull 5 Typewriter';
    font-display: swap;
    font-weight: 400;
    src: url('#{$path--assets}/fonts/Bull-5-Typewriter-Regular.woff') format(truetype);
}

@font-face {
    font-family: 'Hershey';
    font-display: swap;
    font-weight: 400;
    font-style: italic;
    src: url('#{$path--assets}/fonts/Hershey-AU-Italic.woff') format(truetype);
}

@font-face {
    font-family: 'Hershey';
    font-display: swap;
    font-weight: 400;
    src: url('#{$path--assets}/fonts/Hershey-AU-Sans.woff') format(truetype);
}

@font-face {
    font-family: 'Hershey';
    font-display: swap;
    font-weight: 400;
    src: url('#{$path--assets}/fonts/Hershey-AU-Serif.woff') format(truetype);
}