.wp-block-newspack-blocks-carousel.main-slider{
    position: relative;
    z-index: 9;
    .swiper-wrapper{
        .post{
            .entry-wrapper{
                background-color: transparent;
                margin-inline: auto;
                top: 22%;
                width: 743px;
                @include mobile{
                    width: 90%;
                }
                .entry-title{
                    text-transform: uppercase;
                    text-align: center;

                    @media only screen and (min-width: 782px) {
                        font-size: unset !important;
                    }

                    a {
                        display: flex !important;
                        height: fit-content !important;
                        -webkit-line-clamp: unset !important;
                        max-height: unset !important;
                        font-size: 50px;
                        line-height: 1;
                    }

                    @include mobile{
                        font-size: 25px;
                        a{
                            font-size: 25px !important;
                        }
                    }
                }
                .cat-links{
                    text-align: center;
                    font-size: $font-size--small;
                    text-transform: uppercase;
                    font-family: $font-family--secondary;
                    margin-bottom: $margin--large;
                    font-weight: 400 !important;
                }
                .entry-meta{
                    margin-top: $margin--large;
                }
                .byline{
                    margin-inline: auto;
                    text-transform: uppercase;
                    font-family: $font-family--secondary;
                    font-size: $font-size--small;
                    font-weight: 400 !important;
                }
            }
        }

    }
    .swiper-slide{
        width: 100vw !important;
        max-height: 945px !important;
        @include mobile{
            height: 570px !important;
        }
    }
    .swiper-button{
        display: none !important;
    }
    .swiper-pagination-bullets{
        position: absolute !important;
        z-index: 99 !important;
        bottom: 2rem !important;
        align-items: center;

        .swiper-pagination-bullet{
            background-color: transparent !important;
            height: fit-content !important;
            max-width: 270px !important;
            width: fit-content !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            padding-inline-start: $padding--medium;
            border-left: solid 1px $color--high-light;
            border-radius: 0;

            &:focus{
                box-shadow: none !important;
            }

            @include mobile{
                border-left: none;
                background-color: $color--high-light !important;
                height: 3px !important;
                width: 20% !important;
                opacity: 1 !important;
                padding: 0 !important;

                &-active{
                    background-color: $color--warning-pure !important;
                    height: 5px !important;
                }

            }

            .dot{
                &-thumb{
                    height: 41px;
                    width: 41px;
                    @include mobile{
                        display: none;
                    }
                }
                &-title{
                    color: $color--high-light;
                    // text-transform: capitalize;
                    font-family: $font-family--primary;
                    font-size: $font-size--medium;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-align: left;
                    padding-inline-start: $padding--small;
                    @include mobile{
                        display: none;
                    }
                }

            }

        }
        :first-child{
            border-left: none !important;
        }
    }
}

.wp-block-newspack-blocks-author-profile{
    &__avatar{
        @include mobile{
            margin-bottom: $margin--small !important;
            figure{
                max-width: 90% !important;
                height: auto !important;
                aspect-ratio: 1 / 1 !important;
                img{
                    max-width: 100% !important;
                    height: auto !important;
                    aspect-ratio: 1 / 1 !important;
                }
            }
        }
    }
    &__bio{
        text-transform: uppercase;
        width: 75%;
        margin-inline: auto;

        h3{
            letter-spacing: -1%;
            font-size: 30px;
            a{
                text-decoration: none;
            }

            @include mobile{
                font-size: $font-size--medium;
            }
        }

        p{
            font-family: $font-family--secondary;
            font-size: $font-size--small;
            letter-spacing: -5%;
            line-height: 1;
            display: flex;
            flex-flow: column;
            a{
                text-decoration: none;
                opacity: 0.5;
                padding-top: $padding--large;
            }

            @include mobile{
                font-size: 10px !important;
                a{
                    padding-top: $padding--medium;
                }
            }
        }
    }
}
