.cb-carousel-block, .wp-block-cb-carousel{
    &.alignfull{
        width: 100vw !important;
        margin-inline-start: -1rem !important;
    }

    .slick-arrow{
        background-color: $color--primary-dark !important;
        border-radius: 60px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            font-size: 30px !important;
            opacity: 1 !important;
            border-radius: 60px;
            display: flex;
            width: 30px;
            height: 30px;
            content: url('#{$path--assets}/images/arrow-card-slider.svg');
            @include mobile{
                color: $color--primary-dark !important;
                border: none;

            }
        }
        @include mobile{
            background-color: $color--high-pure !important;
            top: unset;
            bottom: -2.5rem;
        }
    }

    .slick-track{
        display: flex;
        align-items: center;
    }

    .slick-next{
        &::before{
            transform: rotateY(180deg);
        }
        @include mobile{
            right: 40% !important;
        }
    }

    .slick-prev{
        @include mobile{
            left: 40% !important;
        }
    }

    .slick-slide{
        max-width: fit-content;
        @include mobile{
            min-width: fit-content;
            width: fit-content !important;
        }
    }

    &.logos-carousel{
        .wp-block-cb-slide{
            max-height: 70px;
            @include mobile{
                padding-inline: $padding--medium;
            }

            .wp-block-image{
                max-width: 135px;
                margin-inline: auto;
                @include mobile{
                    max-width: 100px;
                }
            }
        }
    }
}